<div class="panel panel-default">
    <div class="panel-heading">
        <span>{{vm.resourceSvc.getLocalResource('Games.hundredFieldTitle')}}</span>
    </div>
    <div class="panel-body">
        <table>
            <tr>
                <td>
                    <button type="button" class="btn btn-primary btn-block">1</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-block">2</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-block">3</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-block">4</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-block">5</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-block">6</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-block">7</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-block">8</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-block">9</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-block">10</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-primary btn-block">11</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-block">12</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-block">13</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-block">14</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-block">15</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-block">16</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-block">17</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-block">18</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-block">19</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-block">20</button>
                </td>
            </tr>
        </table>
    </div>
</div>
