<div class="panel panel-default">
    <div class="panel-heading">
        <span>{{vm.resourceSvc.getLocalResource('Games.hundredFieldTitle')}}</span>
    </div>
    <div class="panel-body">
        <table>
            <hundredfieldline start="1" stop="10"></hundredfieldline>
            <hundredfieldline start="11" stop="20"></hundredfieldline>
            <hundredfieldline start="21" stop="30"></hundredfieldline>
            <hundredfieldline start="31" stop="40"></hundredfieldline>
        </table>
    </div>
</div>
