<div class="modal-header">
    <span class="h3">{{vm.resourceSvc.getLocalResource('User.chooseUser')}}</span>
    <button class="close" type="button" ng-click="vm.onCancel()">×</button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-10"><input type="text" class="form-control" ng-model="vm.userName" required/></div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-success" ng-click="vm.createUser()">{{vm.resourceSvc.getLocalResource('Common.new')}}</button>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Rank</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="u in vm.users track by $index" ng-click="vm.selectUser(u)">
                <th  scope="row">{{u.Id}}</th>
                <td>{{u.Name}}</td>
                <td>{{u.Rank}}</td>
                <td>
                    <button type="button" class="btn btn-danger" ng-click="vm.removeUser(u);">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="vm.onCancel()">
        {{vm.resourceSvc.getLocalResource('Common.close')}}
    </button>
</div>