<div class="panel panel-default">
    <div class="panel-heading">
        <span>{{vm.resourceSvc.getLocalResource('Games.tablesTitle')}}</span>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputMin" class="col-sm-2 control-label">{{vm.resourceSvc.getLocalResource('Games.tablesMin')}}</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputMin" placeholder="0" ng-model="vm.borderBottom">
                </div>
            </div>
            <div class="form-group">
                <label for="inputMax" class="col-sm-2 control-label">{{vm.resourceSvc.getLocalResource('Games.tablesMax')}}</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputMax" placeholder="10" ng-model="vm.borderTop">
                </div>
            </div>
            <div class="form-group">
                <label for="inputNr" class="col-sm-2 control-label">{{vm.resourceSvc.getLocalResource('Games.tablesNrOfExercises')}}</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputNr" placeholder="10" ng-model="vm.numberOfExercises">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-primary" ng-click="vm.start()">Go</button>
                </div>
            </div>
            <div align="center">
                <table class="table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">A</th>
                            <th>&nbsp;x&nbsp;</th>
                            <th class="text-center">B</th>
                            <th>{{vm.resourceSvc.getLocalResource('Games.tablesAnswer')}}</th>
                            <th>{{vm.resourceSvc.getLocalResource('Games.tablesSolution')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ex in vm.exercises">
                            <td><input type="number" class="form-control" ng-model="ex.A" disabled="disabled" /></td>
                            <td class="text-center">&nbsp;x&nbsp;</td>
                            <td><input type="number" class="form-control" ng-model="ex.B" disabled="disabled" /></td>
                            <td><input type="number" class="form-control" ng-change="vm.check(ex)" ng-model="ex.Answered"/></td>
                            <td class="text-center">
                                <div ng-class="ex.Css"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
